
    <div class = "container question-field">
        <h3>Question1</h3>
        <h4><%= @question.text %></h4>
        <div class = "choice">質問</div>
        <div class = "choice">質問</div>
        <div class = "choice">質問</div>
        <div class = "choice">質問</div>
    </div>


