
    <div class = "container question-field">
        <h3>Question1</h3>
        <h4><%= @question.text %></h4>
        <% @choices.each do |choice| %>
            <p><%= choice.text %></p>
        <% end %>
    </div>


