<div class="container">
    <div class = "question-field">
        <h3 class="qustion_num">あなたにオススメのブランド</h3>
        <% @brands.each do |brand| %>
            <p class="brand-name"><%= brand.name %></p>
            <div class="parent">
                    <div class="child brand-text">
                        <p><%= brand.text %></p>
                    </div>
                    <div class="brand_img child">
                        <a href="<%= brand.brand_url%>">
                            <img src="/images/<%=brand.image_name%>">
                        </a>
                    </div>
            </div>
        <% end %>
    </div>
</div>