<div class = "container question-field">
    <h3 class="qustion_num">あなたにオススメのブランド</h3>
    <% @brands.each do |brand| %>
        <p><%= brand.name %></p>
        <a href="<%= brand.brand_url%>">
            <img src="/images/<%=brand.image_name%>">
        </a>
    <% end %>
</div>