
    <div class = "container">
        <h1 class="top-item">着る服無いの</h1>
        <h3 class="top-item">
        欲しい服が見つから無い。</br>
        どこのお店も同じ服ばっかり。</br>
        みんなと被ってしまう。</br>
        そんな悩みはありませんか？</br>
        たった５つの質問に答えるだけで、</br>
        あなたの運命の洋服との出会いをサポートします。</br>
        </h3>
        <a href="/questions/1">
            <button type="button" class="btn btn-primary">診断スタート</button>
        </a>
    </div>

