// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.question-field{
    margin:0 auto;
    background-color:white;
    height:80vh;
    width:800px;
    border-radius:15px;
    padding:20px;
    img{
        
    }
}
.brand-name{
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
    font-size: 26px;
}

.question1-choice{
    background-color:rgba(255,255,255,0.9);
    margin:0 auto;
    width:600px;
    border-radius:20px;
    cursor:pointer;
}
.q1-page{
    text-align:center;
    color:white;
    h3{
        font-size:50px;
        font-weight: bold;
    }
    h4{
        font-size:30px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    a{
    font-size:30px;
    text-decoration: none;
    color:black;
    display: block;
    padding:15px 0;
    }
}
